/*================================================== 
Google Fonts Linkup
===================================================*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

/*================================================== 
Base and Core Css Codes
===================================================*/
:root {
  --green: #27ae60;
  --second-hue: 219;
  --container-color: hsl(var(--second-hue), 32%, 12%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: goldenrod;
}

body {
  background: var(--body-color);
  position: relative;
}

section {
  padding: 2rem 10%;
  min-height: 100vh;
}

/*================================================== 
Reuse Classes Css
===================================================*/

.heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: goldenrod;
}

header {
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

/*================================================== 
Preloader CSS
===================================================*/

#preloader {
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
}

.balls {
  display: flex;
  flex-direction: row;
}

.ball {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 10px;
  animation: 1s reloader ease infinite;
}

.blue {
  background-color: #4285f5;
}

.red {
  background-color: #ea4436;
  animation-delay: 0.25s;
}

.yellow {
  background-color: #fbbd06;
  animation-delay: 0.5s;
}

.green {
  background-color: #34a952;
  animation-delay: 0.75s;
}

@keyframes reloader {
  50% {
    transform: translateY(25px);
  }
}

/*================================================== 
Header Section Css
===================================================*/

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 9%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.scrolledNav {
  background-color: var(--container-color);
  box-shadow: 0px 8px 3px -6px rgba(255, 255, 255, 0.2);
  border-bottom: 1px dashed goldenrod;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: goldenrod;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar li:hover::after {
  width: 100%;
}

.nav-branding img {
  width: 150px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  height: 3px;
  width: 30px;
  margin: 5px auto;
  background-color: gold;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: transparent;
  color: #fff;
  border: 1px dashed goldenrod;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
  background: goldenrod;
  /* transform: scale(1.1); */
  border: 1px solid #fff;
  color: #333;
}

.logo {
  width: 150px;
}

.navbar .nav-menu a {
  font-size: 18px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.navbar .nav-menu a:hover {
  color: #ddd;
}

/*================================================== 
Home or Hero Section Css
===================================================*/

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  text-align: center;
  position: relative;
  z-index: 1;
}

.home .content img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1rem solid goldenrod;
}

.home .content h3 {
  font-size: 4rem;
  color: goldenrod;
  text-transform: uppercase;
}

.home .content h3 span {
  color: #ddd;
  text-transform: uppercase;
}

.home .content p {
  color: #ddd;
  font-size: 2.5rem;
  line-height: 2;
}

.typing-text {
  color: goldenrod;
}

.to-top {
  position: fixed;
  right: 35px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  border: 0.5px solid #fff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  animation: 2s getUp ease infinite;
}

.to-top i {
  font-size: 20px;
  color: #333;
}

.to-top.active {
  opacity: 1;
  cursor: pointer;
}

@keyframes getUp {
  50% {
    transform: translateY(-25px);
  }
}

/*================================================== 
About Section Css
===================================================*/

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row .image {
  text-align: center;
  flex: 1 1 25rem;
}

.about .row .image img {
  width: 30rem;
  border-radius: 0.5rem;
  border: 3px dashed goldenrod;
  box-shadow: 0 0.5rem 1rem var(--container-color);
}

.about .row .content {
  flex: 1 1 55rem;
}

.about .row .content h3 {
  color: #ddd;
  font-size: 4rem;
}

.about .row .content h3 span {
  color: goldenrod;
}

.about .row .content .info {
  color: #ddd;
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 2;
  font-weight: 500;
}

.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

.about .row .content .box-container .box {
  flex: 1 1 0rem;
}

.about .row .content .box-container .box p {
  font-size: 1.7rem;
  color: #fff;
  padding: 0.5rem 0;
  line-height: 2;
}

.about .row .content .box-container .box p span {
  color: gold;
  text-transform: uppercase;
  margin-right: 10px;
}

/*================================================== 
Services Section Css
===================================================*/

.services {
  padding: 5rem 10%;
}

.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.services .box-container .box {
  flex: 1 1 40rem;
  border-radius: 0.5rem;
  background: var(--container-color);
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  border: 1px dashed goldenrod;
}

.services .box-container .box i {
  color: goldenrod;
  font-size: 5rem;
  padding: 1rem 0;
}

.services .box-container .box h3 {
  color: goldenrod;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.services .box-container .box p {
  color: #ddd;
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 2;
}

/*================================================== 
Recent Works Section Css
===================================================*/

.works .box_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.works .box_container .box_single {
  flex: 1 1 45rem;
  border-radius: 0.5rem;
  border: 3px dashed goldenrod;
  position: relative;
  overflow: hidden;
  height: 25rem;
}

.works .btn {
  background-color: goldenrod;
  color: #333;
  border: 1px dashed #fff;
}

.works .box_container .box_single img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.works .box_container .box_single .content {
  height: 100%;
  width: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.works .box_container .box_single .content p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.works .box_container .box_single:hover .content {
  right: 0;
}

.works .active {
  background-color: goldenrod;
  color: #333;
  border-color: #ddd;
}

/*================================================== 
Skills Section Css
===================================================*/

.skills .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skills .box-container .box-parent {
  flex: 1 1 20rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills .box-container .box {
  flex: 1 1 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.skills .box-container h5 {
  font-size: 20px;
  color: #ddd;
  font-weight: 600;
}

.skills .box-container i {
  font-size: 20px;
  color: white;
}

.container_two {
  margin-top: 30px;
}

/*================================================== 
Skills ProgressBar Css
===================================================*/

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  background: #fff;
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  background: var(--container-color);
  justify-content: center;
  align-items: center;
}

#number,
#numberTwo,
#numberThree,
#numberfour,
#numberfive,
#numbersix {
  font-weight: 600;
  color: #ddd;
  font-size: 17px;
}

.first circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

.second circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim2 2s linear forwards;
}

.third circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim3 2s linear forwards;
}

.fourth circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim4 2s linear forwards;
}

.fifth circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim5 2s linear forwards;
}

.sixth circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim6 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 70.8;
  }
}

@keyframes anim2 {
  100% {
    stroke-dashoffset: 94.4;
  }
}

@keyframes anim3 {
  100% {
    stroke-dashoffset: 140;
  }
}

@keyframes anim4 {
  100% {
    stroke-dashoffset: 94.4;
  }
}

@keyframes anim5 {
  100% {
    stroke-dashoffset: 283.2;
  }
}

@keyframes anim6 {
  100% {
    stroke-dashoffset: 140;
  }
}

/*================================================== 
Testimonials Section Css
===================================================*/

.testimonial {
  padding: 2rem 18%;
  margin: 0 0 100px 0;
}

.testimonial .box_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_card {
  background-color: var(--container-color);
  padding: 1.25rem 3.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  border: 1px dashed goldenrod;
}

.testi_image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.testimonial_name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #fff;
}

.testimonial_description {
  font-size: 12px;
  color: #fff;
}

/*================================================== 
Swiper Classes Css
===================================================*/

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: goldenrod;
}

/*================================================== 
Contact Section Css
===================================================*/

.contact {
  background-color: var(--container-color);
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  background: var(--container-color);
}

.contact .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row form input::placeholder,
.contact .row form textarea::placeholder {
  color: #ddd;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border: 0.1rem dashed goldenrod;
  text-transform: none;
  background-color: var(--container-color);
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus {
  border-color: goldenrod;
  color: #ddd;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form textarea {
  height: 20rem;
  resize: none;
}

.contact .row form .btn {
  margin: 0.5rem 0;
}

/*================================================== 
Footer Section Css
===================================================*/

footer {
  padding: 15rem 15rem 5rem 15rem;
  position: relative;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
}

.footer-content .footer-nav a {
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: all 0.4s ease-in-out;
}

.footer-content .footer-nav a:hover {
  font-size: 20px;
}

.social-links,
.footer-nav {
  margin-top: 20px;
}

.footer-content .social-links i {
  padding: 10px;
  font-size: 30px;
  color: #151c28;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
}

.social-media {
  margin-top: 20px;
}

.social-media h5 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.footer-content .social-links i:hover {
  background-color: #151c28;
  color: #fff;
}

.copyright p {
  font-size: 15px;
  color: #333;
  font-weight: 800;
  padding-top: 50px;
}

.custom-shape-divider-top-1647527555 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1647527555 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1647527555 .shape-fill {
  fill: #151c28;
}

/*================================================== 
Media Queries
===================================================*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding-right: 0;
  }

  section {
    padding: 2rem;
  }

  .services {
    padding: 2rem;
  }

  footer {
    padding: 10rem 2rem 5rem 2rem;
  }

  footer img {
    width: 150px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 4rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }

  footer {
    padding: 10rem 2rem 5rem 2rem;
  }

  footer img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 1000000;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    flex-direction: column;
    background-color: goldenrod;
    align-items: flex-start;
    justify-content: center;
    transition: 0.5s;
    z-index: 100000;
    padding: 70px 0 0 0;
  }

  .nav-item {
    margin: 20px 40px;
  }

  .nav-menu.active {
    left: 0;
    padding: 70px 0 0 0;
  }

  .nav-branding {
    width: 100px;
    z-index: 10000000;
  }

  .about .content h3 {
    text-align: center;
  }

  .about .content .info {
    text-align: center;
  }

  .about .content .button_div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .testimonial {
    padding: 2rem 10%;
  }

  footer {
    padding: 10rem 2rem 5rem 2rem;
  }

  footer img {
    width: 150px;
  }
}
